@use "../styles/colors";

.add-form {
  display: flex;
  padding: 1rem 2rem;
  flex-direction: column;
}

.input-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  &__label {
    display: flex;
    width: 47%;
    flex-direction: column;
    gap: 0.25rem;
    color: colors.$primary-dark;
    font-weight: 600;
  }

  &__input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid 1px colors.$secondary-dark;
    &:focus {
      border: solid 1px colors.$primary-dark;
    }
  }
}

.add-actions {
  display: flex;
  margin: 1rem 0;
  gap: 1rem;
}
