@use "./styles/global" as *;
@use "./styles/colors";

.main-container {
  padding: 1rem;
  margin: -1.75rem 3rem 2rem 3rem;
  border-radius: 0.5rem;
  background-color: colors.$primary-light;
}

.footer {
  display: flex;
  padding: 1rem 3rem;
  justify-content: center;
  align-items: center;
  color: colors.$primary-dark;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 2rem;
  font-weight: 600;
  border-radius: 0.5rem;
  border: none;
  background-color: colors.$secondary-light;
  color: colors.$primary-dark;
  cursor: pointer;
}
